<header id="home" class="container md:mx-auto flex md:justify-between min-h-[96px] md:min-h-[95px]">
    <nav class="flex items-center w-full">
        <a class="md:z-50 py-2 hidden md:block" href="#home">
            <img class="w-14" [src]="logoNavBlack" alt="logo" />
        </a>
        <div class="z-40 flex flex-col text-[#fefefe] md:text-inherit h-lvh w-full md:h-auto md:w-auto top-0 left-full fixed md:static bg-[#020202] md:bg-transparent transition-transform duration-500 ease-in-out"
            [ngClass]="{'-translate-x-full md:translate-x-0': toggleMenu()}">
            <div class="px-8 py-6 md:hidden w-fit opacity-0 transition-opacity duration-500 ease-in-out"
                [ngClass]="{'delay-1000 opacity-100': toggleMenu()}">
                <img class="w-14 md:hidden" [src]="logoNavWhite" alt="logo" />
            </div>
            <ul (click)="toggleMenu.set(false)"
                class="flex md:ml-8 flex-col flex-grow px-4 -mt-24 md:mt-0 md:h-auto justify-center md:flex-row gap-1 md:gap-5 lg:gap-10 uppercase text-5xl md:text-sm">
                @for (link of NAV_LINKS; track link.key) {
                <li class="relative md:overflow-hidden group cursor-pointer list-none">
                    <a class="block lg:group-hover:-translate-y-6 transition-transform ease-in-out duration-200"
                        href="{{ link.path }}">
                        {{ link.label }}
                    </a>
                    <span
                        class="hidden lg:block absolute -bottom-6 group-hover:-translate-y-6 transition-transform ease-in-out duration-200">
                        <a href="{{ link.path }}">{{ link.label }}</a>
                    </span>
                </li>
                }
            </ul>
        </div>

        <div (click)="toggleMenu.set(!toggleMenu())"
            class="z-50 flex mix-blend-difference bg-transparent flex-col gap-2 fixed md:hidden w-[4rem] h-[4rem] rounded-full items-center justify-center right-6 top-3 cursor-pointer">
            <span class="hamburger bg-[#f2f2f2] transition-all duration-300 ease-in-out"
                [ngClass]="{'rotate-45 top-1': toggleMenu()}"></span>
            <span class="hamburger bg-[#f2f2f2] transition-all duration-300 ease-in-out"
                [ngClass]="{'-rotate-45 bottom-[0.30rem]': toggleMenu()}"></span>
        </div>
    </nav>
</header>