/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

body {
  color: #020617 !important;
  background: var(--p-surface-0);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.hamburger {
  position: relative;
  width: 45px;
  height: 2px;
  background-color: #f2f2f2;
}
